:root {
  --brand-1: #502ce2;
  --brand-2: #4023b5;
  --brand-3: #301a88;
  --brand-4: #d5d6da;
  --brand-5: #eaeafc;
  --warning-1: #fa6f1e;
  --warning-2: #d55e1a;
  --warning-3: #af4e15;
  --warning-4: #fdd8a5;
  --warning-5: #feecd2;
  --warning-6: #fff9f0;
  --caution-1: #ffd200;
  --caution-2: #d5b300;
  --caution-3: #aa9200;
  --caution-4: #fff799;
  --caution-5: #fffdcc;
  --caution-6: #fffeeb;
  --success-1: #1ac14f;
  --success-2: #16a443;
  --success-3: #128737;
  --success-4: #a3e6b9;
  --success-5: #d1f3dc;
  --success-6: #e8f9ed;
  --tip-1: #0077fc;
  --tip-2: #0063d8;
  --tip-3: #004fb5;
  --tip-4: #98cdfe;
  --tip-5: #cce7fe;
  --tip-6: #eaf5ff;
  --text-1: #181a31;
  --text-2: #181a31;
  --text-3: #181a31;
  --text-4: #181a31;
  --text-5: #fd5900;
  --text-6: #0077fc;
  --fill-1: #f8f8f9;
  --fill-2: #f2f3f5;
  --fill-3: #dfdfe0;
  --fill-4: #ffffff;
  --fill-5: #181a31;
  --line-1: #181a31;
  --line-2: #181a31;
  --line-3: #ebedf0;
}
