$space-prefix: '.rc-space';

#{$space-prefix} {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  &-vertical {
    flex-direction: column;
  }

  &-wrap {
    flex-wrap: wrap;
  }

  > li {
    list-style: none;
  }
}
